<!DOCTYPE html>
<html>
  <head>
    <title>
      Network Diagram Drawer
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Vendors -->
    <script src="vendors/jquery/jquery.3.3.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/semantic-ui/semantic.min.css">
    <script src="vendors/semantic-ui/semantic.min.js"></script>
    
    <script src="vendors/vue/vue.js"></script>
    
    <script src="vendors/js-xlsx/shim.min.js"></script>
    <script src="vendors/js-xlsx/xlsx.full.min.js"></script>
    <script src="vendors/js-xlsx/Blob.js"></script>
    <script src="vendors/js-xlsx/FileSaver.js"></script>
    <script src="vendors/js-xlsx/xlsx-helper.js"></script>

<!-- START SIGMA IMPORTS -->
<script src="vendors/sigma.js/src/sigma.core.js"></script>
<script src="vendors/sigma.js/src/conrad.js"></script>
<script src="vendors/sigma.js/src/utils/sigma.utils.js"></script>
<script src="vendors/sigma.js/src/utils/sigma.polyfills.js"></script>
<script src="vendors/sigma.js/src/sigma.settings.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.dispatcher.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.configurable.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.graph.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.camera.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.quad.js"></script>
<script src="vendors/sigma.js/src/classes/sigma.classes.edgequad.js"></script>
<script src="vendors/sigma.js/src/captors/sigma.captors.mouse.js"></script>
<script src="vendors/sigma.js/src/captors/sigma.captors.touch.js"></script>
<script src="vendors/sigma.js/src/renderers/sigma.renderers.canvas.js"></script>
<script src="vendors/sigma.js/src/renderers/sigma.renderers.webgl.js"></script>
<script src="vendors/sigma.js/src/renderers/sigma.renderers.svg.js"></script>
<script src="vendors/sigma.js/src/renderers/sigma.renderers.def.js"></script>
<script src="vendors/sigma.js/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="vendors/sigma.js/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="vendors/sigma.js/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="vendors/sigma.js/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="vendors/sigma.js/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="vendors/sigma.js/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="vendors/sigma.js/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="vendors/sigma.js/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="vendors/sigma.js/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="vendors/sigma.js/src/misc/sigma.misc.animation.js"></script>
<script src="vendors/sigma.js/src/misc/sigma.misc.bindEvents.js"></script>
<script src="vendors/sigma.js/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="vendors/sigma.js/src/misc/sigma.misc.drawHovers.js"></script>
<!-- END SIGMA IMPORTS -->
<script src="vendors/sigma.js/plugins/sigma.renderers.parallelEdges/utils.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.edgeLabels/settings.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js"></script>
<script src="vendors/sigma.js/plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js"></script>

    <!-- Helpers -->
    <script src="helpers/DownloadHelper.js"></script>
    <script src="helpers/UploadHelper.js"></script>
    <script src="helpers/DateHelper.js"></script>
    <script src="helpers/VueHelper.js"></script>
    <script src="helpers/ClipboardHelper.js"></script>
    <script src="helpers/SigmaJSHelper.js"></script>
    
    <link rel="stylesheet/less" type="text/css" href="helpers/FileHelper.less" />
    <script src="helpers/FileHelper.js"></script>
    
    <!-- Style --->
    
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script>
      less = {
        logLevel: 0,
      }
    </script>
    <script src="vendors/less/less.min.js" ></script>
    
  <style>
    #graph-container {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
    }
  </style>
    <link rel="icon" type="image/svg" href="icon.svg" />
  </head>
  <body>
    <div id="app"
         ref="modal">
      <form class="ui form">
        <div class="ui grid">
          <div class="six wide column">
            <div class="two fields">
              <div class="field">
                <label>&nbsp;</label>
                <input type="file" 
                       accept=".txt,.dat"
                       @change="upload" />
                <button type="button"
                        class="ui labeled icon fluid green button" 
                        @click="triggerUpload">
                  <i class="upload icon"></i>
                  UPLOAD
                </button>
              </div>
              <div class="field">
                <label>&nbsp;</label>
                <button type="button"
                        class="ui labeled icon fluid button" 
                        @click="reset">
                  <i class="window close icon"></i>
                  CLEAN
                </button>
              </div>
            </div>
              
            <div class="field"> 
              <textarea class="input" v-model="input" onfocus="this.select()"></textarea>
            </div>
          </div>
          <div class="ten wide column">
            
            <div class="three fields">
              <div class="eight wide field">
                <label>&nbsp;</label>
                <select name="fileType" v-model="fileType" @change="persist">
                  <option value="ods">OpenDocument Spreadsheet (.ods)</option>
                  <option value="csv">Comma-Separated Values (.csv)</option>
                  <option value="html">HTML (.html)</option>
                  <!-- <option value="txt">Plain Text (.txt)</option> -->
                </select>
              </div>
              <div class="four wide field">
                <label>&nbsp;</label>
                <button type="button"
                        class="ui labeled icon fluid green button" 
                        @click="download">
                  <i class="download icon"></i>
                  DOWNLOAD
                </button>
              </div>
              <div class="four wide field">
                <label>&nbsp;</label>
                <button type="button"
                        class="ui labeled icon fluid green button" 
                        @click="copy">
                  <i class="copy icon"></i>
                  COPY
                </button>
              </div>
            </div>
            <div class="field">
              <label>
                Filename
              </label>
              <input type="text" v-model="outputTitle" disabled="disabled" />
            </div>
            
            <div v-html="output" class="output"></div>
           
            <div id="graph-container"></div>
          </div>
        </div>
        
        
      </form>
    </div>
    <script src="scripts.js"></script>
  </body>
</html>
