#app {
  textarea.input {
    height: calc(30vh - 7rem);
    max-height: inherit;
  }
  
  div.output {
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
  }
  
  input[type="file"] {
    display: none;
  }
  
  ui.container.input-row {
    max-height: calc(30vh);
    overflow-y: auto;
  }
  ui.container.output-row {
    max-height: calc(70vh);
    overflow-y: auto;
  }
}
  